<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCPBV5ZX0uSLL8Ghzhj3vYCF8aMRb2z-qY</string>
	<key>GCM_SENDER_ID</key>
	<string>965338651990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.cocoapods.demo.OlympusSDK-Example</string>
	<key>PROJECT_ID</key>
	<string>olympus-demo-d94c3</string>
	<key>STORAGE_BUCKET</key>
	<string>olympus-demo-d94c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965338651990:ios:379e4ef81325b4a273caf7</string>
</dict>
</plist>